# Como generar consultas de SQL en Jupyter Netbooks

In [2]:
import pandas as pd
import sqlite3
print(sqlite3.sqlite_version)

3.45.3

# Taller Análisis de Insights

### Pregunta 1: ¿Cuál es el ingreso total generado por el negocio?

In [ ]:
#Conexion a la base de datos
conection = sqlite3.connect("./analisis/sanoyfresco.db")

# Realizar consulta para obtener el ingreso total generado por el negocio
total_sales = pd.read_sql_query("""
    SELECT SUM(precio_total) AS ingreso_total FROM tickets
""", conection)

print(f"El ingreso total generado por el negocio: {total_sales['ingreso_total'][0]:,.2f}")

# cerrar la conexion
conection.close()

El ingreso total generado por el negocio: 39,854,875.32

### Pregunta 2: ¿Cómo ha sido la tendencia de ingresos mensuales?

In [ ]:
conection = sqlite3.connect("./analisis/sanoyfresco.db")

monthly_income_trend = pd.read_sql_query("""
    SELECT strftime('%Y-%m', fecha) AS mes, SUM(precio_total) AS ingreso_mensuales
    FROM tickets
    GROUP BY mes
    ORDER BY mes
""", conection)

print("\n La tendencia de ingresos mensuales es de:")
print(monthly_income_trend)

conection.close()

 La tendencia de ingresos mensuales es de:
        mes  ingreso_mensuales
0   2023-01         6673099.74
1   2023-02         4945202.53
2   2023-03         4725676.75
3   2023-04         3994824.12
4   2023-05         3626726.78
5   2023-06         3125001.00
6   2023-07         2937364.05
7   2023-08         2533350.46
8   2023-09         2343858.92
9   2023-10         2127269.84
10  2023-11         1637899.98
11  2023-12         1184601.15

### Pregunta 3: ¿Cuál es el rendimiento de cada departamento en términos de ventas?

In [ ]:
conection = sqlite3.connect("./analisis/sanoyfresco.db")

department_performance = pd.read_sql_query("""
    SELECT id_departamento, SUM(precio_total) AS ventas_totales
    FROM tickets
    GROUP BY id_departamento
    ORDER BY ventas_totales DESC
""", conection)

print("\n El rendimiento de cada departamento en términos de ventas es:")
print(department_performance)

conection.close()

 El rendimiento de cada departamento en términos de ventas es:
   id_departamento  ventas_totales
0                4     37003251.70
1               16      1529354.77
2               20       946220.85
3                7       376048.00

### Pregunta 4: ¿Cómo se distribuyen las ventas entre las diferentes secciones?

In [ ]:
conection = sqlite3.connect("./analisis/sanoyfresco.db")

section_sales_distribution = pd.read_sql_query("""
    SELECT id_seccion, SUM(precio_total) AS ventas_totales
    FROM tickets
    GROUP BY id_seccion
    ORDER BY ventas_totales DESC
""", conection)

print("\n La distribución de ventas entre las diferentes secciones es:")
print(section_sales_distribution)

conection.close()

 La distribución de ventas entre las diferentes secciones es:
   id_seccion  ventas_totales
0          24     20879374.69
1         123      8634823.85
2          83      7237312.87
3          67       946220.85
4          53       821420.62
5          84       707934.15
6         115       376048.00
7          16       251740.29

### Pregunta 5: ¿Cuáles son los 10 productos más vendidos en cantidad?

In [ ]:
conection = sqlite3.connect("./analisis/sanoyfresco.db")

top_10_products = pd.read_sql_query("""
    SELECT nombre_producto, SUM(cantidad) AS cantidad_vendida
    FROM tickets
    GROUP BY nombre_producto
    ORDER BY cantidad_vendida DESC
    LIMIT 10
""", conection)

print("\n Los 10 productos más vendidos en cantidad son:")
print(top_10_products)

conection.close()

 Los 10 productos más vendidos en cantidad son:
              nombre_producto  cantidad_vendida
0                      Banana           2460324
1  Bolsa de Bananas Orgánicas           1976709
2            Fresas Orgánicas           1381309
3    Espinacas Baby Orgánicas           1258330
4      Aguacate Hass Orgánico           1104957
5           Aguacate Orgánico            923461
6                Limón Grande            804752
7                      Fresas            748065
8                     Limones            733736
9       Leche Entera Orgánica            715085

### Pregunta 6: ¿Cuáles son los 10 productos que generan más ingresos?

In [ ]:
conection = sqlite3.connect("./analisis/sanoyfresco.db")

ten_products = pd.read_sql_query("""
    SELECT nombre_producto, SUM(precio_total) AS ingresos
    FROM tickets
    GROUP BY nombre_producto
    ORDER BY ingresos DESC
    LIMIT 10
""", conection)

print("\n Los 10 productos que generan mas ingresos son:")
print(ten_products)

conection.close()

 Los 10 productos que generan mas ingresos son:
              nombre_producto    ingresos
0  Bolsa de Bananas Orgánicas  4842937.05
1            Fresas Orgánicas  3439459.41
2                      Banana  2583340.20
3        Frambuesas Orgánicas  2032919.25
4      Aguacate Hass Orgánico  1977873.03
5    Espinacas Baby Orgánicas  1874911.70
6           Aguacate Orgánico  1616056.75
7                      Fresas  1533533.25
8         Arándanos Orgánicos  1444778.50
9    Tomates Cherry Orgánicos  1128040.95

### Pregunta 7: ¿Quiénes son los 20 clientes que más compran en términos de ingresos?

In [ ]:
conection = sqlite3.connect("./analisis/sanoyfresco.db")

top_20_customers = pd.read_sql_query("""
    SELECT id_cliente, SUM(precio_total) AS ingresos
    FROM tickets
    GROUP BY id_cliente
    ORDER BY ingresos DESC
    LIMIT 20
""", conection)

print("\n Los 20 clientes que más compran en términos de ingresos son:")
print(top_20_customers)

conection.close()

 Los 20 clientes que más compran en términos de ingresos son:
    id_cliente  ingresos
0       189425   4784.44
1       145686   4656.01
2        95967   4441.07
3        67870   4381.49
4        51256   4280.17
5       108031   4170.37
6       105213   4164.07
7        66806   4010.08
8       153932   3966.09
9       143296   3887.86
10      175294   3886.68
11        1197   3883.76
12       62239   3873.40
13        5665   3862.69
14       31552   3852.53
15      132274   3842.65
16       14868   3836.05
17      103634   3808.71
18      132022   3803.13
19       94701   3783.81

### Pregunta 8: ¿Cuál es la compra media por cliente?

In [ ]:
conection = sqlite3.connect("./analisis/sanoyfresco.db")

average_purchase_per_customer = pd.read_sql_query("""
    SELECT AVG(precio_total) AS compra_media
    FROM (
        SELECT id_cliente, SUM(precio_total) AS precio_total
        FROM tickets
        GROUP BY id_cliente
    )
""", conection)

print(f"\n La compra media por cliente es: {average_purchase_per_customer['compra_media'][0]:,.2f}")

conection.close()

 La compra media por cliente es: 219.10

### Pregunta 9: ¿Cuántos pedidos totales se han realizado?

In [ ]:
conection = sqlite3.connect("./analisis/sanoyfresco.db")

total_orders = pd.read_sql_query("""
    SELECT COUNT(DISTINCT id_pedido) AS total_pedidos
    FROM tickets
""", conection)

print(f"\n El número total de pedidos realizados es: {total_orders['total_pedidos'][0]}")

conection.close()

 El número total de pedidos realizados es: 2060188

### Pregunta 10: ¿Cuál es el valor promedio por pedido?

In [ ]:
conection = sqlite3.connect("./analisis/sanoyfresco.db")

average_order_value = pd.read_sql_query("""
    SELECT AVG(precio_total) AS valor_promedio_pedido
    FROM (
        SELECT id_pedido, SUM(precio_total) AS precio_total
        FROM tickets
        GROUP BY id_pedido
    )
""", conection)

print(f"\n El valor promedio por pedido es: {average_order_value['valor_promedio_pedido'][0]:,.2f}")

conection.close()

 El valor promedio por pedido es: 19.35